body {
    font-family: Roboto;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 64px;
    font-weight: bold;
}

.logo {
    font-size: 24px;

}

.logo, .main {
    color: #F9FAF8;
}

.header-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 64px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    margin: 16px auto;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    color: white;
}

img {
    height: auto;
    width: 400px;
    margin: 0;
}

#information-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px 16px 64px;
}

.info-header, .quote-text {
    font-size: 36px;
    color: #1F2937;
}

.info-container {
    display: flex;
    text-align: center;
    gap: 32px;
}

.info-img {
    height: 100px;
    width: 200px;
    margin-top: 24px;
    border-radius: 8px;
}

.info {
    max-width: 200px;
}

#quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 64px;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
}

#call-section {
    display: flex;
    padding: 64px;
    align-items: center;
    justify-content: space-between;
}

.call-container .call-button{
    border: 2px solid white;
}

.call-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px 64px;
    width: 100%;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call-main, .call-secondary {
    color: #F9FAF8;
    font-size: 18px;
}

.call-main {
    font-weight: 900;
}

.call-secondary {
    font-weight: lighter;
}

#header, #hero, #footer {
    background-color: #1F2937;
}

.info-header {
    font-weight: 900;
}

.quote-text {
    font-weight: 300;
}