body {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 64px;
    font-weight: bold;
}

.logo {
    font-size: 24px;

}

.logo, .main {
    color: #F9FAF8;
}

.header-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 64px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    margin: 16px auto;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    color: white;
}

img {
    height: auto;
    width: 400px;
    margin: 0;
}


.header, .hero, .footer {
    background-color: #1F2937;
}