body {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 64px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header, .hero, .footer {
    background-color: #1F2937;
}